.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.search-form{
  min-height: 12vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.search-bar{
  width: 50%;
  border:none;
  padding: 12px;
}

.search-button{
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border:none;
  padding: 10px 20px;
  color: black;

}

.recipe{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

